.typography {
  margin: 0;
}

.headingXl {
  font-size: var(--ds-text-heading-xl-font-size);
  font-weight: var(--ds-text-heading-xl-font-weight);
  line-height: var(--ds-text-heading-xl-line-height);
  font-family: var(--ds-text-heading-xl-font-family);
  letter-spacing: var(--ds-text-heading-xl-letter-spacing);
}

.headingLg {
  font-size: var(--ds-text-heading-lg-font-size);
  font-weight: var(--ds-text-heading-lg-font-weight);
  line-height: var(--ds-text-heading-lg-line-height);
  font-family: var(--ds-text-heading-lg-font-family);
  letter-spacing: var(--ds-text-heading-lg-letter-spacing);
}

.headingMd {
  font-size: var(--ds-text-heading-md-font-size);
  font-weight: var(--ds-text-heading-md-font-weight);
  line-height: var(--ds-text-heading-md-line-height);
  font-family: var(--ds-text-heading-md-font-family);
  letter-spacing: var(--ds-text-heading-md-letter-spacing);
}

.headingSm {
  font-size: var(--ds-text-heading-sm-font-size);
  font-weight: var(--ds-text-heading-sm-font-weight);
  line-height: var(--ds-text-heading-sm-line-height);
  font-family: var(--ds-text-heading-sm-font-family);
  letter-spacing: var(--ds-text-heading-sm-letter-spacing);
}

.body {
  font-size: var(--ds-text-body-font-size);
  font-weight: var(--ds-text-body-font-weight);
  line-height: var(--ds-text-body-line-height);
  font-family: var(--ds-text-body-font-family);
  letter-spacing: var(--ds-text-body-letter-spacing);
}

.bodySm {
  font-size: var(--ds-text-body-sm-font-size);
  font-weight: var(--ds-text-body-sm-font-weight);
  line-height: var(--ds-text-body-sm-line-height);
  font-family: var(--ds-text-body-sm-font-family);
  letter-spacing: var(--ds-text-body-sm-letter-spacing);
}

.caption {
  font-size: var(--ds-text-caption-font-size);
  font-weight: var(--ds-text-caption-font-weight);
  line-height: var(--ds-text-caption-line-height);
  font-family: var(--ds-text-caption-font-family);
  letter-spacing: var(--ds-text-caption-letter-spacing);
}

.code {
  font-size: var(--ds-text-code-font-size);
  font-weight: var(--ds-text-code-font-weight);
  line-height: var(--ds-text-code-line-height);
  font-family: var(--ds-text-code-font-family);
  letter-spacing: var(--ds-text-code-letter-spacing);
}
